/* Corpo della pagina con il background cangiante */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.search-container {
  text-align: center;
  margin-top: 50px;
}

.search-container h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.flight-card {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  text-align: left;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.flight-card h3 {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

.flight-card img {
  margin-right: 10px;
}

.flight-card p {
  margin: 10px 0;
}

button {
  padding: 10px 20px;
  background-color: #4dafff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #3896c9;
}
